@import 'theme';

@mixin custom-background-theme($theme) {
  $primary: map_get($theme, primary);
  $accent: map_get($theme, accent);
  $warn: map_get($theme, warn);

  .custom-mat-background-primary:not([disabled]) {
    background-color: mat-color($primary) !important;
    color: #FFFFFF !important;
  }
  .custom-mat-background-accent:not([disabled]) {
    background-color: mat-color($accent) !important;
    color: #FFFFFF !important;
  }
  .custom-mat-background-warn:not([disabled]) {
    background-color: mat-color($warn) !important;
    color: #FFFFFF !important;
  }
  .custom-mat-background-yellow:not([disabled]) {
    background-color: mat-color($mat-yellow, 600) !important;
    color: #000000 !important;
  }
  .custom-mat-background-amber:not([disabled]) {
    background-color: mat-color($mat-amber, 800) !important;
    color: #000000 !important;
  }
  .custom-mat-background-grey:not([disabled]) {
    background-color: mat-color($mat-grey, 700) !important;
    color: #FFFFFF !important;
  }
  .custom-mat-background-orange:not([disabled]) {
    background-color: mat-color($mat-orange, 900) !important;
    color: #FFFFFF !important;;
  }
}
@include custom-background-theme($candy-app-theme);

.green-color {
  color: #00bc8c;
}
.red-color {
  color: #d62c1a;
}
.flex-outer, .flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.margin-auto {
  margin: auto;
}
.max-width {
  width: 100%;
}
.max-height {
  height: 100%;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}

.mat-lemon {
  color: #e9ff9a;
}

.mat-green {
  color: #73ff73;
}

.no_margin {
  margin: 0;
}

.grid {
  display: grid;
}
.grid-justify-center {
  justify-items: center;
}
.grid-align-center {
  align-items: center;
}
.modal-content {
  max-height: 95vh;
  overflow: auto;
}
