<div class="box">
  <h2 class="text-center">Поиск дешевых авиабилетов</h2>

  <div class="container">

    <div class="text-center">
      <input type="text" class="padding-5" placeholder="Город отбытия" [(ngModel)]="origin">
      <input type="text" class="padding-5" placeholder="Город прибытия" [(ngModel)]="destination">
      <input type="text" class="padding-5" placeholder="Дата вылета">
      <input type="text" class="padding-5" placeholder="Дата прилета">
    </div>

    <div class="text-center">
      <button type="button" class="btn btn-outline-secondary" (click)="search()">{{icons.airplane}}</button>
    </div>

  </div>

</div>


