<div class="f-container">
  <div>
    <input type="text" placeholder="Город вылета">
  </div>
  <div>
    <input type="text" placeholder="Город прибытия">
  </div>
</div>

<div>
  <button>Search</button>
</div>


<div class="f-container" *ngIf="false">
  <div class="head">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error eum, facilis id molestias necessitatibus nesciunt nulla provident quas quis repellat repudiandae saepe sapiente! Cupiditate dolores maxime quos sapiente sequi.</div>
  <div class="l-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error eum, facilis id molestias necessitatibus nesciunt nulla provident quas quis repellat repudiandae saepe sapiente! Cupiditate dolores maxime quos sapiente sequi.</div>
  <div class="r-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error eum, facilis id molestias necessitatibus nesciunt nulla provident quas quis repellat repudiandae saepe sapiente! Cupiditate dolores maxime quos sapiente sequi.</div>
  <div class="footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut error eum, facilis id molestias necessitatibus nesciunt nulla provident quas quis repellat repudiandae saepe sapiente! Cupiditate dolores maxime quos sapiente sequi.</div>
</div>
