.margin-padding-5 {
  margin: 2px;
  padding: 2px
}

.flex-box {
  display: flex;
  flex-direction: column;
}

.w4 {
  max-width: 100%;
  padding: 10px;
}

.w8 {
  max-width: 100%;
  padding: 10px;
}
@media (max-width: 1200px) {
  .box {
    width: 60%;
    margin: auto;
  }
  .flex-box {}
  .w4 {}
  .w8 {}
}
@media (max-width: 860px) {
  .box {
    width: 100%;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .flex-box {
    display: flex;
    flex-direction: row;
  }
  .w4 {
    max-width: 33.3334%;
    padding: 10px;
  }
  .w8 {
    max-width: 66.6667%;
    padding: 10px;
  }
}
