$danger-color: #e74c3c;
$success-color: #00bc8c;
$warning-color: #f39c12;
.materialInput {
  .mat-form-field-label.mat-empty {
  color: $text;
}
}
mat-form-field.width100 .mat-form-field-infix {
  width: 100% !important;
}
.materialInputContainer {
  width: 100%;
  .mat-input-element {
    width: 70% !important;
  }
  .btnMaterialInput {
    width: 30%;
    float: right;
    text-align: right;
  }
}
.mat-input-element {
  background-color: inherit !important;
}
.btnMaterialInput span {
  color: #F5F5F5;
}
.mat-select-value {
  color: $text;
}
.material_input {
  color: $text;
}
.mat-form-field {
  width: 100%;
}
.mat-form-field-label {
  color: $text;
}
.mat-form-field-ripple {
  background-color: $text;
}
.mat-select-value {
  color: $text;
}
//.mat-option {
//  color: black;
//}
.mat-focused .mat-form-field-label {
  color: $text;
}
.mat-select-arrow {
  color: $text;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $success-color;

}
.mat-form-field-underline {
  background-color: transparent;
}
.ng-invalid {
  .mat-select-value {
    color: $danger-color;
  }
  .mat-form-field-label {
    color: $danger-color;
  }
  .material_input {
    color: $danger-color;
  }
  .mat-select-arrow {
    color: $danger-color;
  }
  .mat-form-field-underline {
    background-color: $danger-color;
  }
}
.ng-valid {
  .mat-select-value {
    color: $success-color;
  }
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $text;
}
