<div class="container">
  <div class="row">
    <div class="col-xl-3">
      <input type="text" placeholder="pure-damage-min">
      <input type="text" placeholder="pure-damage-man">
    </div>
    <div class="col-xl-3">
      <input type="text" placeholder="increased physilal damage, %">
    </div>
    <div class="col-xl-3">
      <input type="text" placeholder="increased attacks speed">
    </div>
    <div class="col-xl-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis deleniti dolores earum eligendi explicabo fugiat illum, magnam neque nulla odio officiis omnis, possimus quidem quis reiciendis reprehenderit similique voluptatem?</div>
  </div>
</div>
