<div class="container">
  <div class="row">
    <div class="col-xl-3">
      <input type="text" placeholder="pure-damage-min" [(ngModel)]="damagemin">
      <input type="text" placeholder="pure-damage-man" [(ngModel)]="damagemax">
    </div>
    <div class="col-xl-3">
      <input type="text" placeholder="incr physical damage, %" [(ngModel)]="incrphysicaldamage">
    </div>
    <div class="col-xl-3">
      <input type="text" placeholder="incr attacks speed" [(ngModel)]="incrattacksspeed">
    </div>
    <div class="col-xl-3">
      <input type="text" placeholder="quality" [(ngModel)]="quality">
    </div>
  </div>
  <div class="text-center">
    <button (click)="make(damagemin, damagemax, incrphysicaldamage, incrattacksspeed, quality)">push</button>
  </div>
<!--  <div class="text-center">-->
<!--    <div>ДПС-->
<!--      <span>-->
<!--        {{this}}-->
<!--      </span>-->
<!--    </div>-->
<!--  </div>-->
</div>

<div class="container">
  Билд строится через двойной удар.

  Важные части это меткость и скорость атаки, ваша задача сделать первый показатель как минимум 95% по увертывающим врагам.
  <br>
  Скорость атаки на рапирах должна быть не меньше 1,95 удара в секунду.

  Некоторые тонкости по билду, нужен мана лич, его мы можем получить на кольце или перчатках, либо в древе.
  <br>
  Почему? У вас будет 4 активных ауры.

  Порядок покупки вещей:
  <p>Рапира</p>
  Для начало купить простенькие рапирки с 300 ДПС, именно физический, а не стихий, смотрите внимательно когда ищете, с хорошей скоростью атаки. Если же будет стихийный урон не в ущер физики, то так даже лучше.
  Рапиры под 400 ДПС, стоят уже от 3 экзальтов.
  Что касается крафта, если у вас будет хорошая база без влияния, а именно т1 - плоская физа и скорость атаки, вы можешь при хорошем исходе сделать 420-450 ДПС.
  Если после кидания регалки вам прокает т1 процентный урон, есть шанс сделать рапиру под 500 урона.
  Рапира под 410-420 ДПС на рынке обходится в 3-4 экза, значит ваша база должна стоить не больше 1-2 экзов, это при том, что вам для безопасности нужно сделать слепок, а зверь на него стоил чуть меньше экза.
  Потому что если вам прокает суффикс, шмотка автоматически становится мусором, ваш единственный шанс, это с помощью сферы отмены удалить тот бесполезный мод, либо с помощью бестиария удалить суффикс добавить префикс. Слепок это гарантированно сейв шмотки.
  Затем, вам нужно 2 экза на мультикрафт и один если вам нужно накрафтить процентный урон. Т.е. накрафченная шмотка обойдется минимум в 4-5 экза.
  И считайте выгодно ли это вас? Лучше таким крафтом или покупкой заниматься в лейте.
  Немного вкраце, рапира нужна под влиянием Вождя, у него есть гибридный мод физы + скорость атаки т.е. в идеале получается 250 процентный урон и скорость атаки больше 30.
  Но все это делается на рапирах с качество 30%, они крафтятся с помошью фоссилов.

  <p>Голова</p>
  Выбор не велик, Голова Старкоджи, нужна чарка на шанс двойного урона от кровотечения.
  <p>Броня</p>
  Брюхо зверя
  <p>Перчатки</p>
  Какие моды вам нужны:
  - Плоская физа
  - Здоровье
  - Мана лич(либо любой другой мод, если вы будет брать его на древе)
  - Скорость атаки (старайтесь словиться максимум)
  - Сопротивление стихии(любой)
  - Меткость (старайтесь словиться максимум)
  Такие перчатки стоят от 1,5 экзов. Не упарывайтесь в поиске идеальных перчаток в начале, лучше возьмите на дереве лич, вы потеряете в уроне или выживаемости совсем немного.
  <p>Ботинки</p>
  Здесь очень мало полезных модов:
  - Укрепление (обязательно)
  - Здоровье
  - Резисты двум стихиям
  - Скорость передвижения
  Если получится ищите вместе с хаос резом
  Именно из-за укрепления, ботинки стояли от 1 экза
  <p>Пояс</p>
  Темные тиски
  - Здоровье
  - Резисты двум стихиям
  - И обязательно один свободный префикс на крафт увеличение процентного урона
  Если получится ищите вместе с хаос резом
  Так же будет полезна мана.
  Полтора экзальта.
  В последствие вы покупаете их под влиянием Хантера, посколько там можно словить процентное хп.
  <p>Амулет</p>
  Обязательно собственное свойства Интелект, потому что вам будет не хватать его, а брать в древе это слишком дорого.
  - Здоровье (важно)
  - Множитель крита
  - Плоская физа (важно)
  - Слот под крафт урона
  - Резисты
  До экзальта.
  <p>Кольца</p>
  Здесь могут возникнуть проблемы, кольцо с реально хорошими модам будут стоять дорого.
  Первая важная покупка это кольца с Меткой Убийцы, все для того же мана и хп лич.
  Дальше важные моды:
  - Здоровье
  - Резисты
  - Плоская физа
  - И обазятельно слот под крафт урона.
  - Меткость (обязательно Т1)
  <p>Джевелы</p>
  Смотрите поиск внимательно, парой можно найти девешые варианты, но в других комбинациях
  - физический урон к атакам
  - физический урон к атакам мечами
  - скорость атаки
  - скорость атаки мечами
  - скорость атаки с парным оружием
  Практически каждый такой обойдется от 1 экза
  <p>
    Когда покупаете шмотку, там может быть тир 1-2, но значение прокнули минимально и поэтому вам покажется, что она не подходит.
    А это решается очень легке, в бестиарии есть дешевый зверь (за 8 хаосов), он ролит вам эти значения, аналог дивайна, но дешевле.
    Постоянно смотрите падающие рапиры, мало ли что, вдруг там будет два т1 мода и за счет сфер отмены вам удастся убрать лишнее.
    Или допустим там будет Т1 плоская физа и Т1 процентная физа, главное чтобы был свободен один суффикс или за счет отмены убрать его. Скрафтить туда префиксы менять нельзя, сфера очищения и у вас будет рапира с двумя топовыми свойствами, остальное докравчиваете.
  </p>
</div>

<div>
  Итоговая стоимость при средней сборке с рапирами под 400 урона обойдется от 21 экзальта, проходится весь контент, только при условии, что вы знаете как работают все механики боссов.
  У вас должно получиться 2,2кк ДПС под действиями все фласок и аур и 6700 хп. Единственное мне парой не хватает прямоты рук, ну и фпс, чтобы убивать всех без смертей.
  В глубоком лейте, ваша задача покупка или крафт рапир с ДПС больше 500.
  Замена тела с модами на хп, резисты, снижения мана коста, это позволить апнуть ауру Точности (только если вам не хватает меткости).
</div>

<div>
  4 - 1700
  разница 1300
  5 - 3000
  разница 1500
  6 - 4500
  разница 2000
  7 - 6500
  разница 2200
  8 - 8700
  разница 2500
  9 - 11300
  разница 2700
  10 - 14000
  разница 3000
  11 - 17000
</div>
<div>
  более щедящий вариант
</div>
