
<div class="head">
  <input type="text" placeholder="начнем">
</div>

<div class="body">

  <div class="f-container">

    <div class="box1">
      <div class="flex-row">
        <div class="btn" *ngFor="let a of ['7', '8', '9', '4', '5', '6', '1', '2', '3', '0', ',', '=']">
          <div (click)="click(a)">{{a}}</div>
        </div>
      </div>

    </div>

    <div class="box2">
      <div class="flex-column">
        <div class="btn" *ngFor="let b of ['*', '/', '+', '-']">
          <div (click)="click(b)">{{b}}</div>
        </div>
      </div>
    </div>

  </div>

</div>
