<app-youarewinner></app-youarewinner>
<!--v.1-->
<div *ngIf="_whoTurn" class="container">
  Выбирай игру
  <button (click)="startGame('PVE1')">Computer1</button>
  <button (click)="startGame('PVE2')">Computer</button>
  <button (click)="startGame('PVP')">PVP</button>
</div>

<table>
  <tr>
    <td (click)="nextTurn(0)"></td>
    <td (click)="nextTurn(1)"></td>
    <td (click)="nextTurn(2)"></td>
  </tr>
  <tr>
    <td (click)="nextTurn(3)"></td>
    <td (click)="nextTurn(4)"></td>
    <td (click)="nextTurn(5)"></td>
  </tr>
  <tr>
    <td (click)="nextTurn(6)"></td>
    <td (click)="nextTurn(7)"></td>
    <td (click)="nextTurn(8)"></td>
  </tr>
</table>

<!--<div *ngIf="_whoTurn" class="container">-->
<!--  {{turn}}-->
<!--  <button (click)="gameChoose('PVP')">Computer</button>-->
<!--  <button (click)="gameChoose('PVE')">Player</button>-->
<!--  <button (click)="gameChoose('PVP')">PVP</button>-->
<!--</div>-->

<!--v.2-->
<!--<table>-->
<!--  <tr>-->
<!--    <td *ngFor="let b of grid2[0]"-->
<!--        (click)="nextTurn(grid2[0][b])">-->
<!--      {{grid2[0][b]}}-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td *ngFor="let b of grid2[0]"-->
<!--        (click)="nextTurn(grid2[0][b])">-->
<!--      {{grid2[1][b]}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td *ngFor="let b of grid2[0]"-->
<!--        (click)="nextTurn(grid2[0][b])">-->
<!--      {{grid2[2][b]}}</td>-->
<!--  </tr>-->
<!--</table>-->

<!--<table>-->
<!--  <tr *ngFor="let x of grid3">-->
<!--    <td (click)="nextturn(x)">{{x}}</td>-->
<!--    <td (click)="nextturn(x)">{{x}}</td>-->
<!--    <td (click)="nextturn(x)">{{x}}</td>-->
<!--  </tr>-->
<!--</table>-->
<!--<table>-->
<!--  <tr>-->
<!--    <td *ngFor="let x of arr1">{{x}}</td>-->
<!--  </tr>-->
<!--</table>-->
<!--0, 1, 2, 3, 4, 5, 6, 7, 8-->
<!--0, 0, 0, x, x, x, 0, 0, 0-->
<!--0, 0, 0, 0, 0, 0, x, x, x-->
<!--x, 0, 0, 0, x, 0, 0, 0, x-->
<!--0, 0, x, 0, x, 0, x, 0, 0-->
<!--x, 0, 0, x, 0, 0, x, 0, 0-->
<!--0, x, 0, 0, x, 0, 0, x, 0-->
<!--0, 0, x, 0, 0, x, 0, 0, x-->
