<div>
  WeatherService
</div>
<!-- title -->
<div style="background-color: #17a2b8">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <input type="text" class="form-control button-center" [(ngModel)]="name">
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-secondary button-center" (click)="loadWeather(name)">load</button>
      </div>
    </div>
  </div>
</div>

<!---->
<div style="width: 90%; margin: auto">
  <div class="row margin-top-5">
<!--    блок выбора города -->
    <div class="col-4">
      <div *ngFor="let city of cities">
        <div class="btn-info block" (click)="showWeather(city.id)">{{city.name}}</div>
      </div>
    </div>
<!--    блог погодных данных -->
    <div class="col-8">
      <div *ngFor="let a of city" class="text-center">
<!--        todo tooltip?-->
        <div>{{a.name | uppercase}}</div>
        <div>Ощущается как {{a['ОЩУЩАЕТСЯ']}}</div>
        <table class="text-center margin-5">
          <tr>
            <td class="left">Восход: </td>
            <td>{{a['ВОСХОД']}}</td>
          </tr>
          <tr>
            <td class="left">Закат: </td>
            <td>{{a['ЗАКАТ']}}</td>
          </tr>
          <tr>
            <td class="left">Скорость и направление ветра: </td>
            <td>{{a['СКОРОСТЬ ВЕТРА'] }} {{a['НАПРАВЛЕНИЕ']}}</td>
          </tr>
          <tr>
            <td class="left">Облачность: </td>
            <td>{{a['ОБЛАЧНОСТЬ']}}</td>
          </tr>
          <tr>
            <td class="left">Влажность: </td>
            <td>{{a['ВЛАЖНОСТЬ']}}</td>
          </tr>
          <tr>
            <td class="left">Давление: </td>
            <td>{{a['ДАВЛЕНИЕ']}}</td>
          </tr>
          <tr>
            <td class="left">Температура: </td>
            <td>{{a['ТЕМПЕРАТУРА']}}</td>
          </tr>
        </table>
        <div>
          <button type="button" class="btn btn-warning" (click)="delete(a.id)">
            delete
          </button>
        </div>
    </div>
  </div>

  </div>
</div>

<h1>Вариант 2</h1>
<div class="container">
  <div class="row">
    <div class="col-8">
      <input type="text" class="form-control" [(ngModel)]="name">
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-secondary" (click)="loadWeather(name)">load</button>
    </div>
  </div>

  <div class="row">

    <div class="col-5 border">
      <h4>Weather Service</h4>
      <div *ngFor="let city of cities">
        <div class="btn-info block" (click)="showWeather(city.id)">{{city.name}}</div>
      </div>
    </div>

    <div class="col-7 border">
      <div *ngFor="let a of city" class="text-center">

      <div>{{a.name | uppercase}}</div>
      <div style="width: 120px; height: 47px;">
        <div style="background-color: #0ce3ac">{{a['ТЕМПЕРАТУРА']}}</div>
        <div style="background-color: #2e6da4">По ощущению {{a['ОЩУЩАЕТСЯ']}}</div>
      </div>
      <table class="text-center">
        <tr>
          <td>Восход: </td>
          <td>{{a['ВОСХОД']}}</td>
        </tr>
        <tr>
          <td>Закат: </td>
          <td>{{a['ЗАКАТ']}}</td>
        </tr>
        <tr>
          <td>Скорость ветра: </td>
          <td>{{a['СКОРОСТЬ ВЕТРА']}}</td>
        </tr>
        <tr>
          <td>Направление:</td>
          <td>{{a['НАПРАВЛЕНИЕ']}}</td>
        </tr>
        <tr>
          <td>Облачность: </td>
          <td>{{a['ОБЛАЧНОСТЬ']}}</td>
        </tr>
        <tr>
          <td>Влажность: </td>
          <td>{{a['ВЛАЖНОСТЬ']}}</td>
        </tr>
        <tr>
          <td>Давление: </td>
          <td>{{a['ДАВЛЕНИЕ']}}</td>
        </tr>
        <tr>
          <td>Температура: </td>
          <td>{{a['ТЕМПЕРАТУРА']}}</td>
        </tr>
      </table>

      <div>
        <button type="button" class="btn btn-warning" (click)="delete(a.id)">
          убрать город
        </button>
      </div>

    </div>
  </div>

  </div>

</div>

  <div>
    <img src="https://images.unian.net/photos/2018_01/1516692813-7337.jpg">
  </div>

  <div>
    <div>Какой нибудь график</div>
    <div>Уменьшенная копия или город, должна быть кликабельна для выбора на главный экран</div>
    <div>Список городов должен быть кликабельным;</div>
    <div>Задний фон города должен быть в соответствие времени; утро-день-вечер-ночь;</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

<!--<style>-->
<!--  .vyrovnyat {-->
<!--    height: 7em; /* можно заменить на min-height */-->
<!--    text-align: center;-->
<!--    background: #fff5d7;-->
<!--  }-->
<!--  .vyrovnyat div {-->
<!--    display: inline-block;-->
<!--    vertical-align: middle;-->
<!--    background: #9F9;-->
<!--  }-->
<!--  .vyrovnyat:before { /* для IE8+ */-->
<!--    content: "";-->
<!--    display: inline-block;-->
<!--    min-height: inherit;-->
<!--    height: 100%;-->
<!--    vertical-align: middle;-->
<!--  }-->
<!--</style>-->

<!--<div class="vyrovnyat">-->
<!--  <div>первая строка<br>вторая строка</div>-->
<!--</div>-->
