.box {
  background-color: #FFDAB9;
  font: 12pt sans-serif;
}

.color-l {
  background-color: #2a52be;
}
.color-r {
  background-color: #007ba7;
}

tr {
  border-bottom: 1pt dotted black;
  text-align: right;
}

.block {
  margin: 2px;
  border-radius: .25rem;
}
.margin-5 {
  margin-bottom: 5px;
}
.margin-top-5 {
  margin-top: 5px;
}
/* todo костыль*/
.button-center {
  height: 80%;
  margin-top: 4px;
  /*display: table;*/
  /*vertical-align: middle;*/
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.border {
  border: 1px solid black;
  border-collapse: collapse;
}
