<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<link rel="stelysheel" href="css/bootstrap.css">
<link rel="stelysheel" href="css/style.css">
<body>

		<table style="width: 50%; margin: auto; text-align: center">
			Команды
			<tr>
				<td>ng new ticket-avia</td>
				<td>Создание проекта</td>
			</tr>
      <tr>
        <td>ng serve --open</td>
        <td>запуск проект на localhost:4000, флаг --open открывает его в браузере после окончания компиллирования</td>
      </tr>
			<tr>
				<td>ng generate component search</td>
				<td>Создание компонента</td>
			</tr>
			<tr>
				<td>ng generate service ticket</td>
				<td>Создание сервиса, данные приходят с сервера и чтобы все ваши запросы не захломляли код, вы выносите их в отдельное место. Также сервис можно испозовать для хранения информации из разных компонентов</td>
			</tr>
			<tr>
				<td>npm install @ngrx/store@8.3.0 / npm i mobx --save</td>
				<td>Для устрановки различных библиотек с разными версиями</td>
			</tr>
		</table>
	<div class="container">
		Для добавления botstrap:

		npm i bootstrap --save
		npm i jquery --save
		npm i popper --save

		также нужно сделать нужные изменения в angular.json
		находим style, script

		"style": [
			"node_modules/bootstrap/dist/css/bootstrap.min.css"
		  ]
		  "scripts": [
		    "node_modules/jquery/dist/jquery.min.js",
		    "node_modules/popper.js/dist/umd/popper.min.js",
		    "node_modules/bootstrap/dist/js/bootstrap.min.js"
		  ],

		Обязательно такая последовательность и перезапустите приложение

		Со временем, возможно вы будуте сюда добавлять свои собвственные стили

		полезная команда для того, чтобы убить используемый порт
		sudo kill $(sudo lsof -t -i:4200)

		Иногда возникает проблема
		class name must be in pascal name
		удалите все модули и заново переустановить rm -rf node_modules
		<div class="row">
			ng serve --proxy.config --proxy.conf.json
			<img src="https://learn.javascript.ru/article/xhr-crossdomain/xhr-preflight@2x.png" alt="" width="30%">
			{
				'api/': {
					'target': 'http:/localhost:8080/',
					'secure': false
				}
			}
		</div>
		<div>
			Советы по коду:

			если у вас есть массив и информация с него будет где то использоваться и меняться. Используйте get and set и храните его в сервисе.
			! Но если, это данные не будут менять, то и не стоит использовать лишний раз get and set

			service.ts

			public _wares: any;
			get wares() { return _this.wares };
			set wares(value) { this._wares = value }

			если в запросе с вашего сервиса у вас приходит какая-то информация, допустим товар, делайте обязательно проверки

			wares.length !== 0, проверяем на длину массив
			wares instanceof Array, проверям пришел ли нам массив
		</div>
		<div>
			*ngIf
		</div>
		<div>
			*ngFor
		</div>
		<div>
			NgClass

			[ngClass]="{ verdanaFont: isVerdana }"
			[class.first]="this.test === true"

			где verdanaFont and first, это класс, а isVerdana and test это переменная исходя из которой будет применяться класс

			Если нужно, что к блоку применялся какой-то из классов

			[class.first]="test === true" [class.second]="test === false"
			[ngClass]="{first: test === true, second: test === false}"

			где first and second это классы

			Вы так же можете использовать *ngIf

			*ngIf="test === true" class="first"
			*ngIf="test !== true" class="second"
		</div>
		<div>
			NgModel

			Двухсторонняя привязка [(NgModel)]="переменная"

			wares: string = ''

			[(NgModel)]="wares"

			Как правильно применяется в связке с input.
		</div>
	</div>

	<div>routing или же маршрутизация
		[{
			path: "ticket",
			component: TicketComponent
		}]

		регистрирует его в главном модуле
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
