<div class="text-center">
  <h1>Balance</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-5">
        <label for="SelectACostItem" class="form-group">Выберите статью:</label>
        <select name="CostItem" id="SelectACostItem" class="form-control" (click)="send($event)">
          <option value="Транспорт">Транспорт</option>
          <option value="Жилье">Жилье</option>
          <option value="Связь и Интернет">Связь и Интернет</option>
          <option value="переводы внутри">Переводы внутри</option>
        </select>
    </div>
    <div class="col-7">
      <label class="form-group">Сколько потратили:</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>

<div class="text-center">
  <h1>ListACostItem</h1>
</div>

<div class="text-center">
  <h1>Graph or Diagram</h1>
</div>
