<div *ngIf="showWindows" class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        редактирования задачи
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, nesciunt, placeat? A consequuntur ex ipsa tenetur velit. Blanditiis dolore, ea esse nulla optio perspiciatis quisquam, quo repellendus soluta veniam voluptates!
      </div>
      <div class="modal-footer">
        <button>закрыть</button>
        <button>отправить</button>
      </div>
    </div>
  </div>
</div>
