.modal {
  /* detach from rest of the document */
  position: fixed;

  /* center */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* ensure in front of rest of page -- increase as needed */
  z-index: 1001;

  /* visual illusion of being in front -- alter to taste */
  box-shadow: rgba(0,0,0,0.4) 10px 10px 4px;

  /* visual illusion of being a solid object -- alter to taste */
  background-color: lightblue;
  border: 5px solid darkblue;

  /* visual preference of don't crowd the contents -- alter to taste */
  padding: 10px;
}
