<app-choice-model></app-choice-model>

<div class="container-box text-center">
  <table style="margin: auto">
    <tr>
      <td (click)="play(0)">0</td>
      <td (click)="play(1)">1</td>
      <td (click)="play(2)">2</td>
    </tr>
    <tr>
      <td (click)="play(3)">3</td>
      <td (click)="play(4)">4</td>
      <td (click)="play(5)">5</td>
    </tr>
    <tr>
      <td (click)="play(6)">6</td>
      <td (click)="play(7)">7</td>
      <td (click)="play(8)">8</td>
    </tr>
  </table>
</div>

<div class="text-center margin-5">
  <button (click)="clear()">restart</button>
</div>

