<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
<!--  <h1>-->
<!--    app-->
<!--      modules - все модули (калькулятор, шахматы, крестики-нолики, меню(!!!))-->
<!--      models - модели-->
<!--      image - -->
<!--      common - пути прописаны-->
<!--  </h1>-->
<!--</div>-->
<!--<app-page></app-page>-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis commodi cupiditate doloremque eligendi enim ex facilis, harum, illo molestias officiis omnis perferendis porro praesentium quod sequi sunt tempore voluptates?</div>
  </div>
</div>
<app-home-page></app-home-page>
<router-outlet></router-outlet>
