.box {
  width: 100%;
  /* означаешь, что длина будет занимать весь экран монитора*/
  height: 100vh;
  background: #2D936C;
}
h1 {
  font-size: 72px;
  margin-bottom: 25px;
  text-align: center;
}
button {
  border: 0;
  background: transparent;
  outline: none;
}
.task-form {
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  margin-bottom: 3px;
  margin-top: 3px;
  /*padding-left: 10px*/
  vertical-align: middle;
}
#input-form {
  background: transparent;
  font-size: 20px;
  border: none;
  outline: none;
  width: 100%;
  text-indent: 20px;
  color: #fff;
  transition: all 0.3s;
  border-bottom: 1px solid #fff;
}
#input-form:focus {
  border-bottom: 1px solid #000;
}
#input-form::-webkit-input-placeholder {
  color: #fff;
}
#input-form:-moz-input-placeholder {
  color: #fff;
}
#input-form:-ms-input-placeholder {
  color: #fff;
}
::-webkit-input-placeholder {
  text-align: center;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-5 {
  margin: 5px;
}

.b-center {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 15%;
}

.done {
  /*цвет для пробы*/
  background-color: #00bc8c;
}

.edit {
  background-color: burlywood;
  width: 100%;
  height: 100%;
  border: 0
}
