<div class="box">
  <h1>To-Do List</h1>
  <div class="container">

<!--    Todo счетчик активных задач -->
    <div class="row margin-bottom-15">
      <div class="col-10">
        <!--    срабатывает на Enter -->
        <input type="text" id="input-form" [(ngModel)]="todo" (keydown)="add($event)" placeholder="ENTER YOUR ACTIVITY....">
      </div>
      <div class="col-2" style="align-self: center">
        <span (click)="add($event)">{{icons.plus}}</span>
      </div>
    </div>

<!--    первый вариант -->
    <h2 class="text-center" style="color: red">Number 1</h2>
    <div *ngFor="let t of todoList" class="row">
      <div class="col-10 task-form">{{t.todo}}</div>
      <div class="col-2">
        <button class="task-form" (click)="delete(t.id)">{{icons.cross}}</button>
      </div>
    </div>

<!--      второй вариант -->

    <h2 class="text-center" style="color: red">Number 2</h2>
    <div *ngFor="let t of todoList">

      <div class="container row" *ngIf="!t.edit" style="border: 1px solid black; border-radius: 6px">
        <div class="col-2">
          <button class="btn" style="width: 100%; height: 100%" (click)="edit(t.id)">{{icons.edit}}</button>
        </div>
        <div class="col-8">{{t.todo}}</div>
        <div class="col-2">
          <button class="btn btn-outline-secondary" style="width: 100%; height: 100%">{{icons.cross}}</button>
        </div>
      </div>

      <!--      форма для редактирование -->
      <div class="container row" *ngIf="t.edit" style="border: 1px solid black; border-radius: 6px">
        <div class="col-2">
          <button class="btn" style="width: 100%; height: 100%" (click)="edit(t.id)">{{icons.edit}}</button>
        </div>
        <div class="col-10">
          <input type="text" style="width: 100%; height: 100%" value="{{t.todo}}">
        </div>
      </div>

    </div>

    <h2 class="text-center" style="color: red">Number 3</h2>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-outline-secondary">{{icons.edit}}</button>
      </div>
      <input type="text" class="form-control" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary">{{icons.cross}}</button>
      </div>
    </div>

  </div>
</div>
