.box {
  width: 100%;
  /* означаешь, что длина будет занимать весь экран монитора*/
  height: 100vh;
  background: #2D936C;
  /*color: #fff;*/
  font-family: 'Varela Round', sans-serif;
}

h1 {
  font-size: 72px;
  margin-bottom: 25px;
  text-align: center;
}

.task-form {
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  margin-bottom: 3px;
  margin-top: 3px;
  padding-left: 10px
}

.done {
  text-decoration: line-through;
}

#input-form {
  background: transparent;
  font-size: 20px;
  border: none;
  outline: none;
  font-family: 'Varela Round', sans-serif;
  width: 100%;
  text-indent: 20px;
  color: #fff;
  transition: all 0.3s;
  border-bottom: 1px solid #fff;
}
#input-form:focus {
  border-bottom: 1px solid #000;
}
#input-form::-webkit-input-placeholder {
  color: #fff;
}
#input-form:-moz-input-placeholder {
  color: #fff;
}
#input-form:-ms-input-placeholder {
  color: #fff;
}

.button-no {
  border: none;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
