h1 {
  margin: 0;
  color: #204d74;
  font-size: 40px;
}
.margin-5 {
  margin: 5px;
}

.box {
  width: 100%;
  /* означаешь, что длина будет занимать весь экран монитора*/
  height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

.intro {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
.todo-box {
  width: 100%;
  max-width: 500px;
  margin: 2px auto;
  color: rebeccapurple;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
}
.form-input {
  width: 70%;
  padding: 2px;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
}
.form-button {
  /*width: 5%;*/
  border: 1px solid #ced4da;
  border-radius: 0.25em;
}
.flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.done {
  text-decoration: line-through;
}
