<div class="box">
  <h1>To-Do List</h1>
  <div class="container">

    <div class="row margin-bottom-15">
      <div class="col-10">
        <input type="text" id="input-form" [(ngModel)]="todo" (keydown)="add($event)" placeholder="ENTER YOUR ACTIVITY....">
      </div>
      <div class="col-2" >
        <button class="b-center" (click)="add($event)">
          {{icons.plus}}
        </button>
      </div>
    </div>

    <div class="container row">
      <div class="col-3">show:</div>
      <div class="col-3">
        <button class="btn btn-block">all</button>
      </div>
      <div class="col-3">
        <button class="btn btn-block">active</button>
      </div>
      <div class="col-3">
        <button class="btn btn-block">complete</button>
      </div>
    </div>

    <div *ngFor="let todo of todoList" >
<!--      список-->
      <div class="row" *ngIf="!todo.edit">
        <div class="col-2">
          <button class="b-center" (click)="todo.edit = true">{{icons.edit}}</button>
        </div>
        <div class="col-8 task-form" [ngClass]="{done: todo.complete}">{{todo.todo}}</div>
        <div class="col-2">
          <button class="b-center" (click)="delete(todo.id)">{{icons.cross}}</button>
        </div>
      </div>
<!-- форма для редактирования -->
      <div class="row" *ngIf="todo.edit">
        <div class="col-2">
          <button class="b-center" (click)="edit(id, todo.edit = false)">{{icons.edit}}</button>
        </div>
        <div class="col-8 task-form">
          <input type="text" id="todo" value="{{todo.todo}}" style="width: 100%; height: 100%; border: 0">
        </div>
      </div>

    </div>
  </div>
</div>
