.m-container {
	padding-left: 15px;
	padding-right: 15px;
}


@media (min-width: 768px) {
	.m-container {
		width: 750px;
		margin: auto;
	}
}
@media (min-width: 992px) {
	.m-container {
		width: 970px;
		margin: auto;
	}
}
@media (min-width: 1200px) {
	.m-container {
		width: 1170px;
		margin: auto;
	}
}
.m-row {
	margin-top: 5px;
	margin-bottom: 5px;
	clear: both;
}

.m-col-3 {
	width: 25%;
	float: left;
}

@media (min-width: ) {

}

.m-margin-auto {
	margin: auto;
}

.m-margin-top {
	margin-top: 10px;
}
.feature-title {
	
}
.text-body {}