#input-form {
  background: transparent;
  font-size: 20px;
  border: none;
  outline: none;
  width: 100%;
  text-indent: 20px;
  color: #fff;
  transition: all 0.3s;
  border-bottom: 1px solid #fff;
}
#input-form:focus {
  border-bottom: 1px solid #000;
}
#input-form::-webkit-input-placeholder {
  color: #fff;
}
#input-form:-moz-input-placeholder {
  color: #fff;
}
#input-form:-ms-input-placeholder {
  color: #fff;
}
