/* You can add global styles to this file, and also import other style files */
body {
  background-color: #bfbfbf;
}

.box-flex {
  display: flex;
  flex-wrap: wrap;
}
.box-row {
  flex-direction: row;
}

