@mixin block ($width: 100%, $height: 10vh, $color: mat-color($candy-app-primary), $shadow-color: #424242, $text-color: white, $font-size: 14px) {
  height: $height;
  background-color: $color;
  color: $text-color;
  display: table;
  width: $width;
  text-shadow: 1px 1px 1px $shadow-color;
  font-size: $font-size;
  @content;
}
