.green-color {
  color: #00bc8c;
}
.red-color {
  color: #d62c1a;
}
.row-primary {
  background-color: #375a7f;
}
.no_margin {
  margin: 0;
}
.flex-outer {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.margin-auto {
  margin: auto;
}
.max-width {
  width: 100%;
}
.max-height {
  height: 100%;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}

.no_margin {
  margin: 0;
}
