.pallet-moving-tasks-table {

  .table-row:nth-child(2n+1):not(.row-primary):not(.active-row) {
    background-color: #464545;
  }
  .active-row {
    background-color: #00bc8c;
  }
  .chosen-pallet-status {
    font-size: 20px;
    padding: 5px;
  }
  td, th {
    width: 25%
  }
  .cells {
    margin-bottom: 0;
  }

}
.pallet-moving-consist-table {
  box-sizing: border-box;
  tr {
    box-sizing: border-box;
  }
  td ,th {
    padding: 4px 0 !important;
    box-sizing: border-box;
    width: calc(100% - 4px);
  }
  td:nth-child(3) {
    padding: 4px !important;
  }

}
