.pick_date_modal {
  $block-width: 60px;
  $last-block-width: 70px;
  .mat-form-field-underline.mat-form-field-underline {
    background-color: transparent;
  }
  input {
    color: black !important;
    background-color: transparent !important;
    display: flex;
    width: auto;
    margin: auto;
    text-align: center;
    font-weight: bold;
  }
  .mat-form-field-label {
    color: black;
  }
  form {
    display: flex;
    justify-content: space-around;
    mat-form-field {
      width: $block-width !important;
      height: $block-width !important;
      display: inline-block;
      border: 1px solid red;
      border-collapse: collapse;
      margin: 0 10px;
      border-radius: 5px;
    }
    mat-form-field:last-child {
      width: $last-block-width !important;
    }
    mat-form-field.success {
      border-color: #00bc8c;
    }
  }
  .date_parts {
    display: flex;
    justify-content: space-around;
    //padding: 0 5px;
    div {
      display: inline-block;
      width: $block-width;
      text-align: center;
      //margin: 0 10px;
    }
    div:last-child {
      width: $last-block-width;
    }
  }
  .mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    button {
      width: 100px;
      color: white;
    }
  }
  .accept_button {
    background-color: $success-color;
  }
  .cancel_button {
    background-color: $warning-color;
  }
}
