.popolnenie {
  mat-expansion-panel {
    background-color: transparent;
  }
  mat-list-item {
    height: auto;
  }
  mat-expansion-panel-header {
    background-color: #00bc8c;
    color: white;
    padding: 0;
    padding-right: 10px;
    .mat-content {
      padding-right: 10px;
      height: 100%;
    }
  }
  .mat-expansion-panel-body {
    background-color: #464545;
    color: white;
    padding: 0;
  }
  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-color: #00bc8c;
  }
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
    background-color: #00bc8c;
  }

  .mat-expansion-indicator::after {
    color: white;
  }
  .flex {
    color: white;
    height: auto;
    .value {
      width: 20%;
      text-align: center;
      padding: 0 5px;
    }
    .value:first-child {
      width: 50%;
      text-align: left;
    }
    .value:last-child {
      width: 30%;
    }
  }
  .mat-list .mat-list-item {
    font-size: 14px;
    height: auto;
    min-height: 48px;
  }
  .mat-list .mat-list-item .mat-list-item-content {
    padding: 0;
  }
  .tick_box {
    padding: 10px;
    background-color: #375a7f;
  }
  mat-accordion {
    margin-top: 10px;
  }

  .pallet_number {
    padding-left: 10px;
  }
  .product_tick {
    padding: 10px;
  }
  .padding-left-40 {
    padding-left: 40px;
  }
  .expansion_subheader {
    font-size: 1.1em;
  }
  .expansion_body {
    padding: 10px;
  }
}
.popolnenie_header {
   margin-top: 20px;
  .direction {
    margin-bottom: 10px;
    height: 2.5em;
    background-color: #375a7f;
    padding: 5px;
  }
  .mat-raised-button[disabled][disabled] {
    background-color: #464545;
    color: white;
  }
}
