<div class="m-container">

  <div class="input-group mb-3">
    <input class="form-control" type="text" id="addData" placeholder="Новый проект" [(ngModel)]="proj">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="addData(proj)"> add </button>
    </div>
  </div>

  <div class="container-flex flex-column" *ngIf="this.dataList">

    <div *ngFor="let proj of dataList">
      <div class="btn btn-block dataList margin-2" (click)="toggle(proj)">{{proj.project}}</div>
      <div class="container" *ngIf="proj.view">
        <div class="taskList" *ngFor="let t of proj.tasks">
          <div class="container-flex flex-row" [ngClass]="{red: t.done}">
            <div class="btn btn-block" (click)="clickMe(t.task)">{{t.task}}</div>
            <div>
              <button class="btn btn-block">del</button>
            </div>
            <div>
              <button class="btn btn-block" (click)="done(t.id)">ok</button>
            </div>
          </div>
        </div>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Добавление новой задачи" [(ngModel)]="task">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="addData(task, proj.id)">+</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
