<div class="container-flex flex-row center-flex">
  <div class="margin-2">
    <input type="text" id="addProject" placeholder="Новый проект">
  </div>
  <div class="margin-2">
    <button (click)="addProject()">добавить проект</button>
  </div>
</div>

<div class="container-flex flex-column" *ngIf="this.todos">
  <div class="btn btn-block projList" (click)="toggle(todo)" *ngFor="let todo of todos">{{todo.project}}

<!--    нужно чтобы фон этого блога был другим цветом-->
    <div class="taskList" *ngIf="shifter">

      <div class="container-flex flex-row">
        <div class="btn btn-block">{{todo.task}}</div>
        <div>
          <button class="btn btn-block">del</button>
        </div>
        <div>
          <button class="btn btn-block">ok</button>
        </div>
      </div>
      <div class="container-flex flex-row border">
        <div class="btn btn-block">
          <input type="text" placeholder="Добавление новой задачи">
        </div>
        <div class="btn btn-block">
          <button>+</button>
        </div>
      </div>

    </div>
  </div>

</div>

<!--<div *ngIf="this.todos">-->

<!--  <ul *ngFor="let todo of todos">-->
<!--    <li (click)="toggle(todo.id)">{{todo.project}}</li>-->
<!--    <div *ngIf="todo.id && shifter">-->

<!--      <div class="container-flex flex-row">-->
<!--        <div class="btn btn-block">{{todo.task}}</div>-->
<!--&lt;!&ndash;        кнопка удаления &ndash;&gt;-->
<!--        <div>-->
<!--          <button class="btn btn-block">del</button>-->
<!--        </div>-->
<!--&lt;!&ndash;        кнопка выполненого задания, можно менять цвет (изначально красная, при выполненным зеленая)&ndash;&gt;-->
<!--        <div>-->
<!--          <button class="btn btn-block">done</button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="container-flex flex-row border">-->
<!--        <div class="btn btn-block">-->
<!--          <input type="text" placeholder="Добавление новой задачи">-->
<!--        </div>-->
<!--        <div class="btn btn-block">-->
<!--          <button>+</button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->

<!--  </ul>-->

<!--</div>-->
