.container-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.center-flex {
  justify-content: center;
}
.margin-2 {
  margin: 2px;
}

.projList {
  background: #b8860b;
}

.taskList {
  background: #98ff98;
  border-radius: 30px;
}

li {
  list-style-type: none;
}
